@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 2055;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #030712;
  background: #f9f9f9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.script-box {
  color: #171717;
  background-color: #e2e2e2;
  border-radius: 10px;
  width: clamp(320px, 100% - 30px, 100%);
  @media screen and (min-width: 768px) {
    min-width: 32rem !important;
    max-width: 32rem !important;
  }
}


.play-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.play-button.play {
  background-color: #4caf50; /* Green */
  color: white;
}

.play-button.stop {
  background-color: #f44336; /* Red */
  color: white;
}



.record-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  background-color: #FF3131; 
  color: white;
}

.refresh-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  background-color: #b2b2b2;
  color: white;
  margin-left: 4px;
}

.record-button-cancel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  background-color: #5e5e5e; 
  color: white;
}

@keyframes record {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 49, 49, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 49, 49, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 49, 49, 0);
  }
}

.record-button-recording {
  animation: record 1.5s infinite;
}


.pronunciation {
  text-decoration: underline;
}

.pronunciation:hover::after {
  content: attr(title);
}




.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5; /* Example background color */
}

.login-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

.product-info {
  margin-bottom: 30px; /* Space between product info and sign-in */
}

.product-title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}

.sign-in-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-sign-in-button { 
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%; /* Full width button */
  transition: background-color 0.3s; /* Smooth transition */
}

.google-sign-in-button:hover {
  background-color: #f0f0f0;
}

.google-icon {
  height: 24px; 
  margin-right: 10px; 
}

/* Optional Styles for other sign-in methods */
.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #777; 
}

.divider hr {
  flex-grow: 1; 
  border: none; 
  border-top: 1px solid #ddd; 
  margin: 0 10px; 
} 

.gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}